<nav class="navbar navbar-expand-lg ">

  <%= link_to '/' do %>
  <%= image_tag("logo.png", class: "navbar-brand ml-4", width: "55px", height: "55px", alt: "Logo") %>
  <% end %>		

  <% if signed_in? %>
    <div id="search-div" class="mt-4 ml-3">
      <%= bootstrap_form_with url: home_search_path, method: :get, id: "event-search", local: true do |f| %>
        <%= f.text_field :search_fields, hide_label: true, placeholder: "Try \"Scuba Diving\"", list: "list" %>
        <%= f.submit "Search", class: "d-none", :name => nil %>
        <datalist id="list"></datalist>
      <% end %>
    </div>  
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
    <% if signed_in? %>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item mt-4">
            <%= link_to "Create an event", new_event_path, class: "align-middle mr-5 text-dark" %>
          </li> 
        <% if !current_user.participant? %>
          <li class="nav-item mt-4">
            <%= link_to "My Events", users_path, class: "align-middle mr-5 text-dark" %>
          </li> 
        <% end %>
        <li class="nav-item dropdown mr-4">
          <%= link_to(image_tag(current_user.avatar.small_thumb.url, class: "avatar-nav"), "/#", class: "nav-link align-middle mt-1", id: "navbarDropdown", role: "button", :'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false ) %>   
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_user_path(current_user), class: "text-dark" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", sign_out_path, method: :delete, class: "text-dark" %>          
          </div>
        </li>
      </ul>    
    <% else %>
    <% end %>

  </div>
</nav>
<script>
  $("#event-search").on("keyup", function(){
    autocomplete();
  });

  $("#search_fields").on("change", function(e){
    document.querySelectorAll("option").forEach(function(elem){
      if (elem.value == e.target.value) {
        $("#event-search").submit()
      }
    })
  });

  function autocomplete(){
    $.ajax({
      url: '/home/search',
      type: 'POST',
      data: $("#event-search").serialize() + "&authenticity_token=" + encodeURIComponent(AUTH_TOKEN), //takes the form data and authenticity toke and converts it into a standard URL
      dataType: 'json', //specify what type of data you're expecting back from the servers
      error: function() {
          console.log("Something went wrong");
      },
      success: function(data) { // If success
        $("#list").html("");  // Return data (UL list?) and insert it in the <div id="list"></div>
        let resultArray = []
        data.forEach(function(element) {
          resultArray.push(element.title);
          resultArray.push(element.sub_category);
        });
        resultArray = Array.from(new Set(resultArray))

        resultArray.forEach(function(elem){
          var option = document.createElement("option");
          option.value = elem;

          //append option to list
          $("#list").append(option);

        })
      }
    });
  }
</script>